#child-login {
  height: 100vh;
}

.cropped-image {
  width: 64px;
  height: 64px;
  overflow: hidden;
  margin: 0;
  background-size: 200%;
}
.highlighted {
  border: black 2px solid;
  border-radius: 30%;
}